# Node modules
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk

# macOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.swp
*.swo
*~
.tmp/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment
.env
.env.local
.env.*.local
